<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>啊</string>
		<key>color</key>
		<string>2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>很</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>吗</string>
		<key>color</key>
		<string>2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>呢</string>
		<key>color</key>
		<string>2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>的</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>是</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>了</string>
		<key>color</key>
		<string>2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>别</string>
		<key>color</key>
		<string>0</string>
	</dict>
	<dict>
		<key>text</key>
		<string>地</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>在</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>着</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>不</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>没</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>就</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>吧</string>
		<key>color</key>
		<string>2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>过</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>得</string>
		<key>color</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>@</string>
		<key>color</key>
		<string>3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>“/”</string>
		<key>color</key>
		<string>3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>...</string>
		<key>color</key>
		<string>3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>【/】</string>
		<key>color</key>
		<string>3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>（/）</string>
		<key>color</key>
		<string>3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>＃/＃</string>
		<key>color</key>
		<string>3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>：</string>
		<key>color</key>
		<string>3</string>
	</dict>
</array>
</plist>
